security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\AppauthentificatorAuthenticator

            logout:
                path: logout
                target: /login

    access_control:
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/home, roles: ROLE_USER }
        - { path: ^/suppliers, roles: ROLE_ADMIN }
        - { path: ^/products/new, roles: ROLE_ADMIN }
        - { path: ^/products/.*/edit, roles: ROLE_ADMIN }
        - { path: ^/products/.*/delete, roles: ROLE_ADMIN }
        - { path: ^/users, roles: ROLE_ADMIN }
        - { path: ^/, roles: ROLE_USER }