
###> symfony/framework-bundle ###
/.env
/.env.dev
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE & Editor ###
/.idea/
/.vscode/
*.swp
*.swo
*~
###< IDE & Editor ###

###> Node & Frontend ###
/node_modules/
/npm-debug.log
/yarn-error.log
###< Node & Frontend ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
